/** @format */

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif !important;
}

/* Main Format */

body {
	background-color: hsl(36, 100%, 99%);
	position: relative;
	margin: 0;
	overflow-x: hidden;
}

.main-body {
	display: grid;
	grid-template-areas:
		'nav nav nav nav nav nav'
		'main-image main-image main-image main-image new new'
		'main-body-text main-body-text smalltext smalltext new new'
		'article-one article-one article-two article-two article-three article-three';
	grid-gap: 1.75rem 1.88rem;
	background-color: hsl(36, 100%, 99%);
	padding: 5.6rem 10.31rem 8.06rem 10.31rem;
}

.nav {
	grid-area: nav;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-image {
	grid-area: main-image;
}

.main-body-text {
	grid-area: main-body-text;
	font-size: 1.75rem;
	line-height: 3.5rem;
	margin-right: 1.4rem;
}

.smalltext {
	grid-area: smalltext;
}

.new {
	grid-area: new;
}

.article-one {
	grid-area: article-one;
}

.article-two {
	grid-area: article-two;
}

.article-three {
	grid-area: article-three;
}

/* Nav Format */

.nav {
	padding-bottom: 1.69rem;
}

span {
	padding-left: 2rem;
}

/* Sub Format */

.main-image img{
	width: 100%;
}

.newflex {
	display: flex;
	justify-content: space-evenly;
	align-items: left;
	flex-direction: column;
	background-color: hsl(240, 100%, 5%);
	padding: 1.4rem 0 1rem 0;
}

.textbigMainBody {
	width: 100%;
}

.icon-menu {
	display: none;
}

.littleBody {
	padding-top: 2rem;
}

.article {
	display: flex;
	margin-top: 2.69rem;
}

.article-image img {
	width: 6.25rem;
}

button {
	background-color: hsl(5, 85%, 63%);
	color: white;
	border: 0;
	width: 11.56rem;
	height: 3rem;
	font-family: 'Inter', sans-serif;
	letter-spacing: 0.25rem;
}

.bottomBorder {
	position: relative;
}

.bottomBorder:after {
	content: '';
	display: block;
	margin: 0 auto 0 auto;
	width: calc(100% - 2.6rem);
	padding-top: 20px;
	border-bottom: 1px solid white;
}

button:hover {
	background-color: black;
	cursor: pointer;
}

.button {
	padding-right: 0.84rem;
}

#main-links {
	display: none;
	position: absolute;
	height: 100%;
	width: 16rem;
	right: -16rem;
	background-color: hsl(36, 100%, 99%);
	transition: 0.3s;
	transition-delay: 250ms;
	z-index: 1;
}

#main-links img {
	margin-top: 1.706rem;
	margin-right: 1.3rem;
	display: block;
	margin-left: auto;
	height: 30.41px;
	width: 30.41px;
}

.article-text {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-left: 1.5rem;
}

#main-overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	left: 0;
	opacity: 0.5;
}
/* Text mods */
.main-body-div p {
	line-height: 1.64rem;
	font-size: 0.94rem;
	padding-right: 1.27rem;
}

.smalltextp {
	padding-bottom: 1.82rem;
}

.smalltextp p,
.main-body-text h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.mobile-nav-text span {
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	color: hsl(240, 100%, 5%);
	font-size: 1.125rem;
}

.mobile-nav-text {
	padding-top: 3.893rem;
	display: flex;
	flex-direction: column;
}

.new h2 {
	color: hsl(35, 77%, 62%);
	padding-top: 0.3rem;
	padding: 0 1.5rem;
	font-size: 2.4em;
	margin: 0;
}

.new h3,
.new p {
	color: white;
	padding: 0 1.5rem;
}

.new h3 {
	font-size: 1.3rem;
}

.new p {
	font-size: 0.94rem;
	color: hsl(233, 8%, 79%);
}

span {
	font-size: 0.94rem;
}

span,
.smalltext p,
.article-text p {
	color: hsl(236, 13%, 42%);
}

.article-text h2 {
	color: hsl(233, 8%, 79%);
	font-size: 2rem;
}

.article-text p {
	font-size: 0.942rem;
	line-height: 1.63rem;
}

.article h4 {
	font-size: 1.13rem;
}

.article h4,
.article-text p,
.article-text h2 {
	margin: 0;
}

span:hover {
	color: hsl(35, 77%, 62%);
	cursor: pointer;
}

.new h3:hover {
	color: hsl(35, 77%, 62%);
	cursor: pointer;
}

.article h4:hover {
	color: hsl(5, 85%, 63%);
	cursor: pointer;
}

@media (max-width: 376px) {
	html {
		overflow-x: hidden;
		width: 375px;
	}
	.main-body {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 1.75rem 1rem 5rem 1rem;
		gap: 16px;
	}

	.nav {
		padding-bottom: 1rem;
	}

	.nav-text {
		display: none;
	}

	.icon-menu {
		display: block;
	}

	.logo {
		width: 2.81rem;
	}

	.icon-menu {
		width: 2.5rem;
	}

	.icon-menu {
		height: 1rem;
	}
	#main-links {
		display: inline;
	}

	.main-body-text h1 {
		padding-top: 0.5rem;
		font-weight: 800;
		line-height: 2.5rem;
		font-size: 2.5rem;
	}

	.new h2 {
		font-size: 2rem;
		padding: 0 1.31rem;
	}

	.new h3,
	.new p {
		padding: 0 1.31rem;
	}

	.new h3:first-child {
		margin-top: 2.19rem;
	}

	.new h3 {
		margin-top: 2.1rem;
	}

	.new h3 {
		margin-bottom: 0;
	}

	.new p {
		margin-top: 0.5rem;
	}

	.new {
		padding: 1.5rem 0 0.56rem 0;
		margin: 3rem 0 4rem 0;
	}

	button {
		margin-top: 1.5rem;
	}

	.smalltextp {
		padding-bottom: 0;
	}

	.bottomBorder:after {
		padding-top: 14px;
	}

	.newflex {
		width: 100%;
	}

	.article-one {
		margin: 0;
	}

	.article-two,
	.article-three {
		margin-top: 1rem;
	}
}
